.right-button {
	float: right;
}

.cart-item-header {
	font-weight:bold;
	font-size:24px;
	font-family: 'cursive'
}

.cart-item-description {	
	font-size:12px;
}

.cart-label {
	font-weight: bold;
	font-size: 12px
}

.cart-item-picked {
	color:	#989898;
}

.cart-item-data {
	font-size: 12px;
}

.cart-inputBox {
	background:;
}

.cart-add {
	color:green;
}